*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
}

/*Definition des polices d'écritudes*/
body{
    font-family: Verdana, sans-serif;
}

.navbar a, h1, h2{
    font-family: Georgia, serif;
}

/*Mise en place de la barre de navigation*/
.navbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    padding-top: 1.5vh;
}

.navbar ul{
    list-style-type: none;
    margin: 0.25vh 0.25vw;
    padding: 0;
}

.navbar ul li{
    display: inline;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 4vh;
    text-align: center;
    padding: 0.5vh 1.5vw;
}

.navbar ul li a:hover{
    border-bottom: solid 1.5px black;
}

.navbar ul li.current a{
    border-bottom: solid 1.5px black;
}
/*Gestion des couleurs de la barre de navigation sur Accueil*/
.background .navbar ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.background .navbar ul li a:hover{
    border-bottom: solid 1.5px white;
}

.background .navbar ul li.current a{
    border-bottom: solid 1.5px white;
}

.menuHamburger{
    color: black;
}

/*Image de fond sur accueil*/
.background{
    height: 100vh;
    width: 100vw;
    background-image: url("img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1.2;
    color: white;
}

.presentation{
    margin-top: 30vh;
    margin-left: 10vw;
}

.navbar .menuHamburger{
    position: absolute;
    top: 2vh;
    right: 2vw;
    width: 7vw;
    display: none;
}

/*Affichage téléphone*/
@media screen and (max-width: 1500px){

    .navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    .navbar ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -200%;
    }

    .nav-links{
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu{
        margin-left: 0;
    
    }

    .navbar .menuHamburger{
        display: block;
    }

    .navbar ul li{
        margin: 1.5vh 0;
    }

}

/*Timeline*/
.timelineBox{
    width: 100%;
    height: 1000px;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

/*Création de la ligne*/

.line{
    height: 680px;
    width: 4px;
    margin: 0 auto;
    background-color: rgba(192, 192, 192, 0.5);
}

/*Parametres des ronds*/

.roundTL{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.roundTL1{
    top: 60px;
    background-color: #BAE6A2;
    border: 1px solid #BAE6A2;
}

.roundTLColor1{
    top: 65px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.roundTL2{
    top: 400px;
    background-color: #DBF5AE;
    border: 1px solid #DBF5AE;
}

.roundTLColor2{
    top: 405px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.roundTL3{
    top: 740px;
    background-color: #ACE8D0;
    border: 1px solid #ACE8D0;
}

.roundTLColor3{
    top: 745px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

/*Paramètres des box*/

.boxTL{
    color: rgb(192, 192, 192);
    width: 400px;
    min-height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.boxTL p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

.boxTL1{
    top: 80px;
    left: calc(50% - 270px);
}

.boxTL2{
    top: 420px;
    left: calc(50% + 270px);
}

.boxTL3{
    top: 760px;
    left: calc(50% - 270px);
}

.boxTL h2{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.boxTL a{
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-weight: bold;
}

.boxTL a:hover{
    text-decoration: underline;
}

.boxTL1 h2{
    background-color: #BAE6A2;
}

.boxTL2 h2{
    background-color: #DBF5AE;
}

.boxTL3 h2{
    background-color: #ACE8D0;
}

.boxTL .buttonTL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: white;
}

.boxTL2 .buttonTL2{    
    background-color: #DBF5AE;
}

.boxTL3 .buttonTL3{    
    background-color: #ACE8D0;
}

/*Affichage Timeline telephone*/

@media screen and (max-width: 1000px) {
    .line {
      margin-left: auto;
      margin-right: 0px;
    }

    .roundTL{
        left: calc(100% - 2px);
        transform: translate(-50%);
    }

    .boxTL{
            left: 50%;
            transform: translate(-50%);
            width: 80vw;
    }

}

.titleEXP{
    text-align: center;
    margin-bottom: 50px;
}

.experiencesBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: auto;
}

.boxEXP{
    color: rgb(192, 192, 192);
    text-align: center;
    width: 400px;
    min-height: 200px;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.boxEXP:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.boxEXP h2{
    text-align: center;
    color: white;
    margin: 0;
    padding: 10px 0;
}

.boxEXP p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

.boxEXP1 h2{
    background-color:#AFA1C4;
}

.boxEXP2 h2{
    background-color:#D4B4CD;
}

.boxEXP3 h2{
    background-color:#A4A8BF;
}

@media screen and (max-width: 1500px){
    .experiencesBox{
        flex-direction: column;
        align-items: center;
    }

    .boxEXP{        
        width: 80vw;
    }
}

/*PROJECT PAGE*/

.boxProjects1 h2{
    background-color:#97E5D7;
}