*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    list-style-type: none;
    font-weight: normal;
}

body {
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50);
    overflow-x: hidden;
    text-justify: auto;
}

.page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.page h1 {
    color: rgba(175, 175, 175, 0.1);
    position: absolute;
    font-size: 13vw;
    font-family: 'Abril Fatface', serif;
    top: 30vh;
    left: 5vw;
    transform: translate(0, -50%);
}

#welcome_page p {
    position: absolute;
    top: 50vh;
    left: 10vw;
    transform: translate(0, -50%);
    font-size: 2vw;
}

@media only screen and (max-width: 1000px) {

    #welcome_page p {
        font-size: 4vw;
    }

}

/*GENERAL STUDY_PAGE*/

#study_page {
    height: auto;
}

#study_page .part{
    position: relative;
    height: auto;
    display: flex;
    align-items: stretch;
    padding-top: 45px;
}

#study_page .part .cercle {
    position: absolute;
    border-radius: 100%;
    width: 36px;
    height: 36px;
}

#study_page .part .rectangle {
    width: 36px;
    min-width: 36px;
    height: auto;
    position: relative;
    z-index: 1;
    top: 18px;
}

#study_page .part .paragraphe {
    position: relative;
    max-width: 500px;
}

#study_page .part .date {
    text-align: center;
    position: relative;
    font-family: 'Abril Fatface', serif;
    font-size: 30px;
    border-bottom: 2px solid rgba(175, 175, 175, 0.5);
}

#study_page .part .paragraphe p{
    position: relative;
    margin-top: 30px;
}

#study_page .rectangle_right {
    left: 0;
    transform: translate(calc(-50% + 18px), 0);
}

#study_page .rectangle_left {
    left: 50vw;
    transform: translate(calc(-50% - 18px), 0);
}

#study_page .paragraphe_left{
    left: 50vw;
    transform: translate(calc(-50% - 18px - 300px - 50px), 0);
    width: auto;
}

#study_page .paragraphe_right{
    left: 50px;
}

#study_page .cercle_bottom {
    bottom: -36px;
}

#study_page .part_right {
    margin-left: calc(50vw - 18px);
}

#study_page .part_left {
    left: 18px;
}

#study_page .cercle_left {
    left: 50vw;
    transform: translate(calc(-50% - 18px), 0);
}

/*CASES STUDY_PAGE*/

#study_page .part1{
    padding-top: 50vh;
}

#study_page .cercle1 {
    background-color: hsl(0, 100%, 80%);
}

#study_page .cercle12 {
    background-color: hsl(30, 100%, 80%);
}

#study_page .rectangle1 {
    background: linear-gradient(to bottom, hsl(0, 100%, 80%), hsl(30, 100%, 80%));
}

#study_page .cercle2 {
    background-color: hsl(30, 100%, 80%);
}

#study_page .cercle22 {
    background-color: hsl(60, 100%, 80%);
}

#study_page .rectangle2 {
    background: linear-gradient(to bottom, hsl(30, 100%, 80%), hsl(60, 100%, 80%));
}

#study_page .cercle3 {
    background-color: hsl(60, 100%, 80%);
}

#study_page .cercle32 {
    background-color: hsl(90, 100%, 80%);
}

#study_page .rectangle3 {
    background: linear-gradient(to bottom, hsl(60, 100%, 80%), hsl(90, 100%, 80%));
}

#study_page .cercle4 {
    background-color: hsl(90, 100%, 80%);
}

#study_page .cercle42 {
    background-color: hsl(120, 100%, 80%);
}

#study_page .rectangle4 {
    background: linear-gradient(to bottom, hsl(90, 100%, 80%), hsl(120, 100%, 80%));
}

#study_page .cercle5 {
    background-color: hsl(120, 100%, 80%);
}

#study_page .cercle52 {
    background-color: hsl(150, 100%, 80%);
}

#study_page .rectangle5 {
    background: linear-gradient(to bottom, hsl(120, 100%, 80%), hsl(150, 100%, 80%));
}

#study_page .cercle6 {
    background-color: hsl(150, 100%, 80%);
}

#study_page .cercle62 {
    background-color: hsl(180, 100%, 80%);
}

#study_page .rectangle6 {
    background: linear-gradient(to bottom, hsl(150, 100%, 80%), hsl(180, 100%, 80%));
}

@media only screen and (max-width: 1250px) {

    #study_page .part{
        margin-left: 0px;
        max-width: 100%;
        left: 5vw;
        right: 5vw;
    }

    #study_page .rectangle_left {
        left: 0;
        transform: translate(0, 0);
    }

    #study_page .cercle_left {
        left: 0;
        transform: translate(0, 0);
    }

    #study_page .paragraphe_left {
        left: 50px;
        transform: translate(0, 0);
    }

    #study_page .part .paragraphe {
        max-width: calc(100% - 36px - 150px);
    }

}

#experiences_page {
    height: auto;
}

#experiences_page .flex_container{
    margin-left: 10vw;
    margin-right: 20vw;
    position: relative;
    padding-top: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

#experiences_page .flex_container div {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 2px solid black;
}

#experiences_page .flex_container div h2:hover + p,
#experiences_page .flex_container div p:hover{
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}

#experiences_page .flex_container div p{
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
}

#contacts_page .flex_icon {
    margin-left: 10vw;
    position: relative;
    padding-top: 400px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    flex-direction: column;
}

#contacts_page .flex_icon a{
    max-width: 40vw;
    align-items: center;
    color: rgb(50, 50, 50);
}

#contacts_page .flex_icon a div{
    align-items: center;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#contacts_page .flex_icon a div:hover{
    transform: translateX(20px);
}

#contacts_page .flex_icon a div img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}