/*GENERAL STYLE*/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    list-style-type: none;
}

body{
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

h1, h2{
    font-family: 'Abril Fatface', serif;
    text-align: center;
}

/*NAVBAR*/
nav ul{
    display: flex;
    position: fixed;
    z-index: 1;
    right: 10px;
    backdrop-filter: blur(1px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav ul a:hover{
    border-bottom: solid 1px black;
}

nav ul a li{
    padding: 10px 20px;
    color: black;
}

.current{
    border-bottom: solid 1px black;
}

nav .menuHamburger{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    display: none;
    z-index: 1;
}

nav .mobile-menu{
    left: 0;
}

/*Affichage téléphone*/
@media screen and (max-width: 1500px){

    nav{
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: -100%;
        transition: all 0.5s ease;
    }

    nav .menuHamburger{
        display: block;
    }

    nav ul a{
        margin: 1.5vh 0;
    }

}

/*FRONT PAGE*/
.front-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.front-page .circle{
    position: absolute;
    background-color: #7986CB;
    border-radius: 50%;
    z-index: -1;
}

.front-page .main-circle{
    left: -50vh;
    top:  -50vh;
    width: 130vh;
    height: 130vh;
}

.front-page .second-circle{
    right: -30vh;
    bottom: -30vh;
    width: 80vh;
    height: 80vh;
}

.front-page .presentation-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.front-page .presentation-text .hello-text{
    font-size: 50px;
}

.front-page .presentation-text p{
    font-size: 25px;
}

/*STUDIES PAGE*/
.studies-page{
    width: 100vw;
    height: 1100px;
    margin-top: 10vh;
    position: relative;
    overflow-x: hidden;
}

.studies-page .line{
    height: 730px;
    width: 4px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: rgba(192, 192, 192, 0.5);
}

.studies-page .roundTL{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.studies-page .roundTL1{
    top: 85px;
    background-color: #BAE6A2;
    border: 1px solid #BAE6A2;
}

.studies-page .roundTL2{
    top: 450px;
    background-color: #DBF5AE;
    border: 1px solid #DBF5AE;
}

.studies-page .roundTL3{
    top: 815px;
    background-color: #ACE8D0;
    border: 1px solid #ACE8D0;
}

.studies-page .roundTLColor1{
    top: 90px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.studies-page .roundTLColor2{
    top: 455px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.studies-page .roundTLColor3{
    top: 820px;
    background-color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.studies-page .boxTL{
    color: rgb(192, 192, 192);
    width: 400px;
    min-height: 200px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
}

.studies-page .boxTL p{
    padding: 10px 10px 10px 10px;
    text-align: justify;
}

.studies-page .boxTL1{
    top: 85px;
    left: calc(50% - 270px);
}

.studies-page .boxTL2{
    top: 450px;
    left: calc(50% + 270px);
}

.studies-page .boxTL3{
    top: 815px;
    left: calc(50% - 270px);
}

.studies-page .boxTL h2{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.studies-page .boxTL a{
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-weight: bold;
}

.studies-page .boxTL a:hover{
    text-decoration: underline;
}

.studies-page .boxTL1 h2{
    background-color: #BAE6A2;
}

.studies-page .boxTL2 h2{
    background-color: #DBF5AE;
}

.studies-page .boxTL3 h2{
    background-color: #ACE8D0;
}

.studies-page .boxTL .buttonTL{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: white;
}

.studies-page .boxTL2 .buttonTL2{    
    background-color: #DBF5AE;
}

.studies-page .boxTL3 .buttonTL3{    
    background-color: #ACE8D0;
}

/*Affichage Timeline telephone*/

@media screen and (max-width: 1000px) {
    .studies-page .line {
      margin-left: auto;
      margin-right: 0px;
    }

    .studies-page .roundTL{
        left: calc(100% - 2px);
        transform: translate(-50%);
    }

    .studies-page .boxTL{
            left: 50%;
            transform: translate(-50%);
            width: 80vw;
    }

}

/*PROJECTS PAGE*/
.projects-page{
    width: 100vw;
    margin-top: 10vh;
    overflow-x: hidden;
}

.projects-page .projects-boxes{
    z-index: 2;
    color: rgb(192, 192, 192);
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: auto;
    align-items: flex-start;
}

.projects-page .projects-boxes h2{
    padding: 10px 0;
}

.projects-page .projects-boxes .projects-box{
    text-align: center;
    width: 400px;
    min-height: 200px;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    overflow: hidden;
}

.projects-page .projects-boxes .projects-box1 h2{
    background-color: #957DAD;
    color: white;
}

.projects-page .projects-boxes .buttonProjects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: white;
}

.projects-page .projects-boxes .projects-box p{
    padding: 10px;
}

.projects-page .projects-boxes .image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: auto;
}

.projects-page .projects-boxes .image-container img{
    width: 31.5px;
    height: 31.5px;
    margin: 0 10px;
    margin-bottom: 10px;
}

.projects-page .projects-boxes .image-container .CSS3{
    width: 22.34px;
    height: 31.5px;
}

/*EXPERIENCE PAGE*/

.experiences-page{
    width: 100vw;
    margin-top: 10vh;
    overflow-x: hidden;
}

.experiences-page .experiences-boxes{
    color: rgb(192, 192, 192);
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: auto;
    flex-shrink: 0;
    align-items: flex-start;
}

.experiences-page .experiences-boxes h2{
    padding: 10px 0;
}

.experiences-page .experiences-boxes .experiences-box{
    text-align: center;
    width: 400px;
    min-height: 200px;
    height: auto;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
    overflow: hidden;
}

.experiences-page .experiences-boxes a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    color: white;
}

.experiences-page .experiences-boxes a:hover{
    text-decoration: underline;
}

.experiences-page .experiences-boxes .experiences-box p{
    padding: 10px;
}

.experiences-page .experiences-boxes .experiences-box11 h2{
    background-color: #FADCA8;
    color: black;
}

.experiences-page .experiences-boxes .experiences-box11 a{
    background-color: #FADCA8;
}

.experiences-page .experiences-boxes .experiences-box12 h2{
    background-color: #F8CEAB;
    color: black;
}

.experiences-page .experiences-boxes .experiences-box12 a{
    background-color: #F8CEAB;
}

.experiences-page .experiences-boxes .experiences-box21 h2{
    background-color: #F8CEAB;
    color: black;
}

.experiences-page .experiences-boxes .experiences-box21 a{
    background-color: #F8CEAB;
}

.experiences-page .subsection{
    margin: 20px 0;
}

/*CONTACT PAGE*/

.contacts-page{
    margin-top: 50px;
    background-color: #7987cb4b;
    overflow-x: hidden;
}

.contacts-page .image-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.contacts-page .image-container img{
    width: 31.5px;
    height: 31.5px;
    margin: 0 20px;
}

@media screen and (max-width: 1500px){
    .experiences-page .experiences-boxes .experiences-box{
        width: 300px;
    }

    .projects-page .projects-boxes .projects-box{
        width: 300px;
    }
}

/*SIDE PAGE*/

.side-page .rect{
    height: 100px;
    width: 730px;
    margin-top: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-page .side-page-title{  
    position: relative;  
    font-size: 50px;
    margin-left: 10px;
}

.side-page .round{
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 730px;
    top: 100px;
    transform: translate(-50%, 0);
    z-index: -999;
}

.description{
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    text-align: justify;
}

/*Responsive SIDE PAGE*/
@media screen and (max-width: 1500px){
    /*The rectangle takes all the width*/
    .side-page .rect{
        width: 100vw;
    }

    .side-page .round{
        visibility: hidden;
    }
}

@media screen and (max-width: 875px){
    /*The font size of the title deacrease*/
    .side-page .side-page-title{
        font-size: 5.5vw;
    }

    .side-page .rect{
        height: 11vw;
        margin-top: 5vw;
    }

    .description{
        font-size: 2vw;
        margin-top: 10vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

/*JAPAN PAGE*/

#japan-page .rect{
    background-color: rgba(241, 145, 195);
}

#japan-page .round{
    background-color: rgba(241, 145, 195);
}

/*CDL PAGE*/
#cdl-page .rect{
    background-color: rgba(241, 145, 195);
}

#cdl-page .round{
    background-color: rgba(241, 145, 195);
}

/*WOMEN7 PAGE*/
#women7-page .rect{
    background-color: rgba(241, 145, 195);
}

#women7-page .round{
    background-color: rgba(241, 145, 195);
}